body{
    /*background-image: url("https://wallimpex.com/data/out/221/wood-floor-wallpapers-6054123.jpg");*/
 background-color: #cccccc; font-family: 'Cinzel', serif;
}
p{
    color: black;
}
h1{
    color: rgb(110, 59, 151);
}

#my-pic{
  height: 200px;
  border-radius: 50%;
  float: right;

}

#header {
        background-color: rgb(36, 233, 125);
        color:white;
  text-align:left;
  padding:10px;
  font-weight:bold;
  font-style: center;
  text-shadow: 0 0 black;
  }


/*css for column*/
* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 15%;
    padding: 10px;
   /* height: 100px; /* Should be removed. Only for demonstration */
    margin: 0.30%
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
   @media screen and (max-width: 600px) {
  } */
    /* .column {
      width: 50%;
    } */

    .code {
        background-color: rgb(126, 56, 56);
        border-radius: 3px;
        font-family: courier, monospace;
        padding: 0 3px;
    }


