body{
    background-image: url("https://wallimpex.com/data/out/221/wood-floor-wallpapers-6054123.jpg");
 background-color: #cccccc;
}
p{
    color: black;
}
h1{
    color: yellowgreen;
}

/*css for column*/
* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 10%;
    padding: 10px;
    height: 150px; /* Should be removed. Only for demonstration */
    margin: 0.30%
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }



